.search-button {
    height: 45px;
    width: 140px;
    margin-left: 20px;
    background-color: rgba(16, 113, 255, 1);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-family: 'Gilroy-Light';
  }